.Navigator_bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  z-index: 99;
  border-top: solid 2px #e4e4e4;
}

.Navigator_div {
  width: 6.6406rem;
  display: inline-block;
  text-align: center;
}

.Navigator_image {
  font-size: 30px;
  width: 100%;
  margin: 0;
  padding-top: .625rem;
  text-align: center;
  color: #6C63FF;
}

.Navigator_imageSelect {
  font-size: 30px;
  width: 100%;
  margin: 0;
  padding-top: .625rem;
  text-align: center;
  color: #09cf83;
}

.Navigator_p {
  margin: 0;
  color: #828282;
}

.Navigator_p_select {
  color: #3DA2FF;
  margin: 0;
}

.Navigator_chatButton {
  background-color: white;
  border: none;
  color: #9e9e9e;
}

input.ant-input.css-dev-only-do-not-override-acm2ia {
  height: 0px;
}