.Navigator_topbar {
  position: fixed;
  /* display: flex; */
  width: 100%;
  height: 30px;
  top: 0px;
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  z-index: 90;
  border-top: solid 2px #e4e4e4;
  padding-bottom: 15px;
  padding-top: 15px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  transition: 0.5s;
}

.Navigator_topbarScroll {
  position: fixed;
  /* display: flex; */
  width: 100%;
  height: 30px;
  top: 0px;
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  z-index: 90;
  border-top: solid 2px #e4e4e4;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: 0.5s;
}

.Navigator_topfont1 {
  font-family: 'yg-jalnan';
  transition: 1s;
  font-size: 30px;
  color: #6c63ff;
  line-height: 30px;
}

.Navigator_topfont2 {
  font-family: 'yg-jalnan';
  transition: 1s;
  font-size: 30px;
  color: #09cf83;
  line-height: 30px;
}

.Navigator_toplogo {
  transition: 1s;
  width: 40%;
}

.Navigator_topback {
  position: fixed;
  top: 13px;
  z-index: 99;
  left: 0;
  border: none;
  background-color: white;
  font-size: 30px;
  color: #696969;
}