.ant-descriptions-item-label {
  width: 30%;
}

.ant-descriptions-item-content {
  width: 70%;
}

.GroupDetail_mapImg {
  width: 100%;
}

.GroupDetail_mapDiv {
  text-align: center;
}

.GroupDetail_article {
  padding-left: 10px;
  padding-right: 10px;
}

.GroupDetail_day {
  font-size: 20px;
  font-weight: 700;
  color: #09cf83;
}

.GroupDetail_timer {
  font-size: 20px;
  font-weight: 700;
  color: #6c63ff;
}

.swal2-title {
  font-size: 20px;
  font-family: 'yg-jalnan';
}